[Unit]
Description=Gunicorn instance for my Flask app Temperature
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/opt/raspi/iot/flask-temp
Environment="PATH=/opt/raspi/iot/flask-temp/venv/bin"
ExecStart=/opt/raspi/iot/flask-temp/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:5001 app:app

[Install]
WantedBy=multi-user.target
